{% extends "layout.html" %}
{% block body %}
<div class="backgroundContainer">
  <div class="">
    <h1>WHAT SERVICES WE PROVIDE</h1>
    <input type="checkbox" class="hair__checkbox" id="hair__checkbox">
    <label for="hair__checkbox" class="hair__toggle">
      <h3 class="title">HAIR SERVICES</h3>
    </label>
    <ul class="hair__menu">
      <a href="{{booksite}}">
        <li>Haircut or Trim</li>
        <li>Shampoo & Style</li>
        <li>Color</li>
        <li>Highlights/Lowlights</li>
        <li>Vibrant Colors</li>
        <li>Ombre</li>
        <li>Balayage</li>
        <li>Split End Mender</li>
        <li>Color Correction</li>
      </a>
    </ul>

    <input type="checkbox" class="nail__checkbox" id="nail__checkbox">
    <label for="nail__checkbox" class="nail__toggle">
      <h3 class="title">NAIL SERVICES</h3>
    </label>
    <ul class="nail__menu">
      <a href="{{booksite}}">
        <li>Acrylic</li>
        <li>Dip</li>
        <li>Gel Polish</li>
        <li>Manicure</li>
        <li>Pedicure</li>
      </a>
    </ul>

    <input type="checkbox" class="facial__checkbox" id="facial__checkbox">
    <label for="facial__checkbox" class="facial__toggle">
      <h3 class="title">FACIAL SERVICES</h3>
    </label>
    <ul class="facial__menu">
      <a href="{{booksite}}">
        <li>Mini Facial</li>
        <li>Basic Facial</li>
        <li>Facial with Enzyme</li>
        <li>Facial with Microdermabrasion</li>
        <li>Microdermabrasion with LightStim</li>
      </a>
    </ul>

    <input type="checkbox" class="lash__checkbox" id="lash__checkbox">
    <label for="lash__checkbox" class="lash__toggle">
      <h3 class="title">LASH SERVICES</h3>
    </label>
    <ul class="lash__menu">
      <a href="{{booksite}}">
        <li>Lash Extension Full Set</li>
        <li>Lash Extension Fill</li>
        <li>Lash Lift</li>
        <li>Lash Tint</li>
      </a>
    </ul>

    <input type="checkbox" class="wax__checkbox" id="wax__checkbox">
    <label for="wax__checkbox" class="wax__toggle">
      <h3 class="title">WAX SERVICES</h3>
    </label>
    <ul class="wax__menu">
      <a href="{{booksite}}">
        <li>Underarm</li>
        <li>Brow</li>
        <li>Lip</li>
        <li>Leg</li>
      </a>
    </ul>

    <input type="checkbox" class="massage__checkbox" id="massage__checkbox">
    <label for="massage__checkbox" class="massage__toggle">
      <h3 class="title">TATTOO SERVICES</h3>
    </label>
    <ul class="massage__menu">
      <a href="{{booksite}}">
        <li>One to Six hour Tattoo time</li>

      </a>
    </ul>

  </div>
</div>
{% endblock %}